<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Configurations that affect the Test Framework -->
	<RunConfiguration>
		<!-- Use 0 for maximum process-level parallelization. This does not force parallelization within the test DLL (on the thread-level). You can also change it from the Test menu; choose "Run tests in parallel". Unchecked = 1 (only 1), checked = 0 (max). -->
		<MaxCpuCount>0</MaxCpuCount>
		
		<!-- true or false -->
		<!-- Value that specifies the exit code when no tests are discovered -->
		<TreatNoTestsAsError>true</TreatNoTestsAsError>
	</RunConfiguration>

	<!-- Configurations for data collectors -->
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Include>
								<ModulePath>.*[Bb]asilisque\.[Dd]ependency[Ii]njection.*\.dll$</ModulePath>
							</Include>
							<Exclude>
								<ModulePath>.*\.[Tt]ests\.dll$</ModulePath>
								<ModulePath>.*\.[Bb]enchmarks\.dll$</ModulePath>
							</Exclude>
						</ModulePaths>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>